@import "../Body/Modules/ImageModule/ImageModule.css";
@import "../Body/Modules/TextModule/TextModule.css";
@import "../Body/Modules/ImageDropzoneModule/ImageDropzoneModule.css";
@import "../Body/Modules/TextEditorModule/TextEditorModule.css";
@import "../Body/Modules/TitleModule/TitleModule.css";
@import "../Body/Wrapper//TextWrapper/TextWrapper.css";
@import "../Body/Modules/StyleModule/SizeModule/SizeModule.css";
@import "../Body/Wrapper/EditorWrapper/EditorWrapper.css";
@import "../Body/Modules/StyleModule/ColorModule/ColorModule.css";
@import "../Body/Modules/AddModule/AddModuile.css";
@import "../Body/Modules/InputEditor/InputEditor.css";
@import "../Body/Modules/NumberEditorModule/NumberEditorModule.css";

*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
  }

  :root{
      --blue: #47bdc9;
      --grey: #2e2e2e;
  }
  html{
      font-size: 10px;
      font-family: 'Lato', sans-serif;
  }
  body{
      height: 100vh;
      width: 100vw;
      overflow-x: hidden;
  }

  .main{
      display: flex;
      flex-direction: row;
  }
  .divTest{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-bottom: auto;
      display: -ms-flexbox;
      -ms-flex-wrap: wrap;
  }