.textModule{
    width: 100%;
    height: 100%;
    background-color: rgb(190, 205, 224);
    color: black;
    font-size: 14px;
    font-weight: 100;
    border: 1px black solid;
    border-radius: 4px;
    padding: 2px; 
}