.titleModule{
    width: 100%;
    height: 30px;
    background-color: rgb(87, 163, 249);
    color: white;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    border-radius: 4px;
}